// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Open+Sans:wght@400;600;700&display=swap');
h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
body{
font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.skip-btn{
  text-decoration:none;
  color:black;
  position: absolute;
  bottom:20px;
  right:-250px;
  &:hover{
   text-decoration:none;
     color:black;
  }
}
.arrow {
  font-size: 51px;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 65px;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease;
}

.arrow:hover {
  color: #121212;
  background: white;
  cursor: pointer;
}


.carousel {
  position: relative;
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: 5%;
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: 5px;
  transform: translateY(-50%);
}

.arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 5px;
  transform: translateY(-50%);
}

.carousel>img {
  width: 100%;
  height: 100%;
}

.d-none {
  display: none;
}

.indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin-bottom: 10px;
}

.indicators>span {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
}

.indicators>span.active {
  background: #4fc355;
}
