<div class="navbar">
  <a href="<%= brands_path %>"><%= image_tag "map.png", width: 30 %></a>
  <a href="#"><%= image_tag "setting-lines.png", width: 30 %></i></a>
  <a href="#"><%= image_tag "user.png", width: 30 %></a>
</div>


