<div class="navbar">
  <a href="<%= brands_path %>"><%= image_tag "map-btn.png", width: 40 %></a>
  <a href="#"><%= image_tag "filter.png", width: 40 %></a>
  <a href="#"><%= image_tag "profile-btn.png", width: 40 %></a>
</div>
