<div class="carousel">
    <div class="arrow-left">
      <span class="arrow">&#x2039;</span>
    </div>
    <%= cl_image_tag("https://res.cloudinary.com/dr8v0dbbd/image/upload/v1622651806/users/illustrations/treen_z0ezrx.png",
      width: 400, height: 300, crop: :fill) %>
    <div class="arrow-right">
      <span class="arrow">&#x203A;</span>
    </div>
    <div class="indicators">
      <span class="active"><%= link_to brands_path, class:'skip-btn' do %>skip<i class="fas fa-chevron-right"></i><% end %></span>
      <span></span>
      <span></span>
    </div>
  </div>
<script type="text/javascript">
  const arrowLeft = document.querySelector('.arrow-left');
  const arrowRight = document.querySelector('.arrow-right');
  const imgCarousel = document.querySelector('img');
  const indicators = document.querySelectorAll('.indicators > span');
  const images = ['https://res.cloudinary.com/dr8v0dbbd/image/upload/v1622651806/users/illustrations/treen_z0ezrx.png', 'https://res.cloudinary.com/dr8v0dbbd/image/upload/v1622651806/users/illustrations/sus_fsr0fd.png', 'https://res.cloudinary.com/dr8v0dbbd/image/upload/v1622651805/users/illustrations/SEARCH_wjbuqv.png'];

  const setAttr = (el, attr, value) => el.setAttribute(attr, value);
  const getAttr = (el, attr) => el.getAttribute(attr);

  const getImageIndex = (image) => images.indexOf(image)

  const getCurrentImageIndex = () => {
  const currentImage = getAttr(imgCarousel, 'src');
  return getImageIndex(currentImage);
  };

  const getArrowLeftImageIndex = (currentIndex) => {
    return currentIndex === 0 ? 2 : currentIndex - 1;
  };

  const getArrowRightImageIndex = (currentIndex) => {
    return currentIndex === 2 ? 0 : currentIndex + 1;
  };

  const activateIndicator = (index) => {
    indicators.forEach((el, i) => {
      if (el.classList.contains('active')) {
        el.classList.remove('active')
      };
      if (index === i) el.classList.add('active');
    })
  };

  const intervalSlider = (direction) => {
    let callback = null, getNewIndexFunc = null;
    if (direction === 'left') {
      getNewIndexFunc = () => getArrowLeftImageIndex(getCurrentImageIndex());

    } else {
      getNewIndexFunc = () => getArrowRightImageIndex(getCurrentImageIndex());
    }

    callback = () => {
      let newIndex = getNewIndexFunc();
      activateIndicator(newIndex);
      setAttr(imgCarousel, 'src', images[newIndex]);
    }

    return () => callback;
  };

  const leftInterval = intervalSlider('left');
  const rightInterval = intervalSlider('right');


  let left = null, right = null;

  arrowLeft.addEventListener('click', (e) => {
    const newIndex = getArrowLeftImageIndex(getCurrentImageIndex());
    activateIndicator(newIndex);
    right && clearInterval(right);
    if (!left) {
      left = leftInterval()
    }
    setAttr(imgCarousel, 'src', images[newIndex]);
  });
  arrowRight.addEventListener('click', (e) => {
    const newIndex = getArrowRightImageIndex(getCurrentImageIndex());
    activateIndicator(newIndex);

    left && clearInterval(left);
    if (!right) {
      right = rightInterval();
  }
  setAttr(imgCarousel, 'src', images[newIndex]);
  });
</script>
