.badge-img{
  width:40px;
  height:40px;
}
.badge-secondary {
  background-color: #E7D8C3!important;
  border-radius:50%;
}
.brand-policy-icon {
  width: 40px;
  position: relative;
      span {
        position: absolute;
        bottom: -12px;
        right: 8px;
        color: black;
    }
}
.brand-text-decoration{
  text-decoration: none;
}
.badge {

  font-size: 78%;
}
