h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.card-trip {
  width: 60%;
  height: 150px;
  overflow: hidden;
  background: #f7f9fa;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius:10px;
  position: relative;
}

.card-trip > img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  position: relative;
  z-index:0;
}
.card-trip::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#22263f,rgba(0,0,0,.96));
    mix-blend-mode: color;
    left: 0;
    top: 0;
    z-index: 1;
}
.card-trip h2 {
  font-size: 15px;
  color: white;
  margin: 0;
}

.card-trip p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  opacity: .7;
  margin: 0;
  color:white;
}

.card-trip-infos {
  display: grid;
  grid-template-row: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coloured-bar{
  color: rgb(4, 37, 35);
}
