.dashboard{
  display:grid;
  grid-template-rows: auto 1fr auto;
  justify-items:center;
  width:90%;
  height:90%;
  margin-left: 17px;
  margin-top:15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  }
.user-el{
  margin-top: 15px;
  text-align: center;
}
.btn-edit{
  padding:5px 15px;
  border-radius: 15px;
  background-color:rgba(242, 232, 216, 0.7);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  color: black;
}
.btn-edit:hover{
  color:black;
}

.suggest-brand{
  margin: 20px;
}

.address-color{
  color:white;
}
