.navbar {
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 8%;
  z-index: 1;
}
.fas {
  color: #cfd2cd;
  margin-right: 20px;
  margin-left: 20px;
}


