/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(250, 250,250,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:-5px;
    left:-13px;
    width:100%;
    z-index:0;
}
.margin-80 {
  bottom: 80px!important;
}

.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 71.5vw;
    height: 75vh;
    vertical-align: middle;
    position: relative;
    padding: 15px 5%;
}
.badge_icons{
  list-style:none;
  position:absolute;
  right:15px;
  top:25px;
  display:grid;
  grid-gap:2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.popupCloseButton {
    color: rgb(4, 37, 35);
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    color: rgb(221, 110, 66);
}
.trigger_popup_fricc {
  font-family: 'Open Sans';
    padding:7px;
    background-color: #F3E8D7;
    color: black;
    bottom: 50px;
    position: absolute;
    top:30px;
    right:60px;
    z-index: 100;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    color:black;
}
.fa-chevron-down{
  color:black;
}
/* Popup box BEGIN */
