/* Popup box BEGIN */
.hover_bkgr_review{
    background:rgba(250, 250,250,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.margin-80 {
  bottom: 80px!important;
}

.hover_bkgr_review .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_review > div {
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: left;
    margin-right: 27px;
    width: 300px;
    height: 400px;
    vertical-align: middle;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.badge_icons{
  list-style:none;
  position:absolute;
  right:15px;
  top:25px;
  display:grid;
  grid-gap:2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.popupReviewCloseButton {
    color: rgb(4, 37, 35);
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupReviewCloseButton:hover {
    color: rgb(221, 110, 66);
}
.trigger_popup_review {
  font-family: 'Open Sans';
    padding:7px;
    background-color: #F3E8D7;
    color: black;
    bottom: 50px;
    bottom: 100px;
    right: 173px;
    z-index: 100;
    cursor: pointer;
    font-size: 12px;
}
/* Popup box BEGIN */

