.banner form {
display: flex;
justify-content: center;
align-items: center;
position:absolute;
top:50px;
left: 80px;
}

.search-input {
border-radius: 20px 0 0 20px;
width: 80%;
padding: 10px;
font-size: 24px;
border:none;
background-color: rgba(250, 250, 250, 0.8)
}

.search-button {
border-radius: 0px 20px 20px 0px;
background: rgba(221, 110, 66,0.9);
padding: 12px 12px;
border: none;
color: black;
font-size: 20px;
}

.search_location label {
    display:none;
  }

.form-group {
  margin-bottom: 0rem;
}
