.banner-search form {
margin: 0px;
position:absolute;
top:20px;
left:50px;
z-index:100;

}

.search-input {
border-radius: 20px;
max-width: auto;
font-size: 24px;
border:none;
background-color: rgba(250, 250, 250, 0.8)
}

