body {
  background: #d8e2dc;
}

h1, h5 {
  font-family: 'Inconsolata', monospace;

}

.icon {
    min-height: 20px;
    max-width: 20px;
    min-width: 20px;
    border-width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}

.text-muted {

  text-align: justify;
}

.form {
padding-bottom: 200px;
z-index: 0;
}

.btn {
  background-color: #d9ae94;
  border: none;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px
}
