body {
  background: white;
}

h1, h5 {
  font-family: 'Inconsolata', monospace;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3E8D7;
}

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-muted {

  text-align: justify;
}

.submitreview {
  color: black;
  background-color: #d9ae94;
}

.form {
padding-bottom: 200px;

}

.btn {
  background-color: #d9ae94;
  border: none;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px
}
