body {
  background: white;
}

h1, h5 {
  font-family: 'Open Sans';

}
.title-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p {
font-family: 'Montserrat', sans-serif;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-muted {

  text-align: justify;
}

.submitreview {
  color: black;
  background-color: #d9ae94;
}

.form {
padding-bottom: 200px;

}

.btn {
  background-color: #F3E8D7;
  border: none;
}

// hr {
//     display: block;
//     height: 3px;
//     border: 0;
//     border-top: 1px solid #ccc;
//     margin: 1em 0;
//     padding: 0;
// }

.brand-image {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
}

.reviewform {
  display:flex;


   h5 {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 0px;
   }
}

.stars {
  min-width: 50%;
  width:50%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  p {
    background-color: #F3E8D7;
    padding: 10px;
  }

  i {
  color:rgb(243, 232, 215);
  }
}

.reviews {
  min-height: 100px;
  margin-bottom: 100%;
  overflow-x: scroll;
}
