.social-container{
  display:flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;

}

.social{
display:flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
}
li{
  list-style:none;
}
.social-icon{
  color:rgb(38, 28, 37);
  background-color:rgb(243, 232, 215);
  padding:16px;
  font-size:20px;
  border-radius: 7px;
}
