

.social-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color:rgb(243, 232, 215);
  border-radius: 7px;
  width: 100px;
  height: 26px;
  margin-right: 30px;

}

.social.d-flex {
  display: flex;
}

.fab {

  left: 68px;
  top: 398px;
  background-color: #e7d6bb;
  border-radius: 8px;
  width: 31px;
  padding: 3px;
}


.social{
  display:flex;
  margin:0;
  padding:0;
  display:flex;
  align-items: start;
  flex-direction: row;
}
li{
  list-style:none;
}
.social-icon{
  color:rgb(38, 28, 37);
  width:33px;
  text-align:center;
  font-size:20px;
  border-radius: 7px;
}



.social-icon:hover{
  color:rgb(38, 28, 37);

}
.share{
  font-size: 16px;
  font-weight:bolder;
}
