<a data-module="SocialShareButton"
     data-module-text="No water in mars yet"
     data-module-tags="not,awesome"
     data-module-via="NASA"
     data-module-base-url="https://firstandthird.com/"
     data-module-net="twitter">Share on Twitter custom all</a>

<%= social_share_button_tag(@brand.name, 'data-twitter-title' => 'TheTitleForTwitter') %>
